@charset "UTF-8";

/*
#003c5e - Azul
#201815 - Marron
#83a735 - verde
#ffffff - Branco
*/

:root {
    --corazul: #003c5e;
    --cormarron: #201815;
    --corverde: #83a735;
    --corbranco: #ffffff;
    --fontepadrao: MontSerrat-Regular;
    --fontedestaque: MontSerrat-Mediun;
}

* {
    margin: 0px;
    padding: 0px;
}

nav img {
    width: 75%;
    height: 90px;
}

header {
    min-width: 600px;
    max-width: 1200px;
    min-height: 90px;
    margin: auto;
}

nav {
    font-size: 18px;
    display: flex;
    text-align: center;
    background-color: var(--corbranco);
    font-family: var(--fontepadrao); color: var(--corbranco);
    border-radius: 5px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;    
}


#artigos {
    width: 80px;
    padding-right: 150px
}


#areadocliente {
    padding-right: 10px;
}


nav > a {
    height:25px;
    color: var(--corazul);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    
}


main {
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main img {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    }

body {
    margin: auto;
    font-family: var(--fontedestaque); color: var(--corazul);
    font-size: 20px;
    text-align: justify;
}

div {
    min-height: 550px;
    font-size: 15px;
    text-align: center;
}

div img {
    width: 100%;
    padding-bottom: 40px;
}

div h2 {
    padding-top: 40px;
}

div.video {  
    margin: 0px -20px 10px -20px;
    padding: 10px;
    position: relative;
    padding-bottom: 10%;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 85%;
    height: 80%;
}

p {
    font-size: 20px;
    text-align: justify;
    text-indent: 45px;
    padding-bottom: 15px;
    line-height: 2em;
}

strong {
    color: var(--corazul);
    font-weight: bold;
}

aside {
    background-color: var(--corverde);
    padding: 10px;
    border-radius: 5px;
    
}

aside ul {
    list-style-position: inside;
    list-style:var(--corazul);
    box-shadow: 2px 2px 4px var(--corverde);
    color: var(--corbranco)
    
}

aside h2{
    padding: 10px;
    color: var(--corbranco);
    background-color: var(--corazul);
    border-radius: 10px 10px 0px 0px;
    text-align: justify;
    margin: -10px -10px 0px -10px;    
}

aside p {
    background-color: var(--corverde);
    border-radius: 10px;
    box-shadow: 2px 2px 4px var(--corverde);
    color: var(--corbranco)
    
    
}

aside strong {
    color: var(--corazul);
    padding: 10px;
}

li {
    text-indent: 60px;
    line-height: 2em;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom:30px;
}

iframe {
    padding-bottom: 30px;
}

footer {
    padding: 5px;
    background-color: #003c5e;
    font-family: var(--fontepadrao); color: var(--corbranco);
    box-shadow: 0px 0px 5px #201815;
    font-size: 15px;
    text-align: center;
            
        }

div.homeinicial{
    display: flex; align-items: top; justify-content: center;
}



h1.competencia{
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
    
}

ul.destaques {
    list-style-type: '\2714\000A0\000A0\000A0\000A0';
    margin-bottom: 39px;
    margin-top: 15px;
    margin-left: -30px;
    font-family: var(--fontepadrao);
    font-size: 20px;
    text-align: left;
    color: var(--corazul);
    list-style-position: inside;
}

ul > li {
    margin: 10px 0px 10px 0px;
}

div.f4contabilidade {
    margin-top: -20px;
    min-height: 400px;
    max-height: 480px;
    min-width: 200px;
    max-width: 400px;
    
}


#f4 {
   max-width: 800px;
   min-width: 650px;
   
}

#imagemprotocolo {
    min-height: 400px;
    max-height: 480px;
    min-width: 400px;
    max-width: 400px;
    
}


a.abrirempresa {
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: #83a735; 
    font: MontSerrat-Mediun; 
    color: white; 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

a.contador {
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: var(--corbranco); 
    font: var(--fontedestaque); 
    color: var(--corazul); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border: 0.1px solid var(--corazul);
    border-radius: 5px;
    
    
}

a.contador:hover {
    background-color: var(--corverde);
    font-size: var(--corbranco);
    border: 0.1px solid var(--corbranco);
}



#f4segunda {
    background-size: var(--corverde);
    margin-left: 120px;
    margin-right: 100px;
    width: auto;
    min-height: 900px;
    max-height: 950px;

}

#destaque3 {
    margin: auto;
    background-color: var(--corverde);
}

div.homesegunda {
    background-color: var(--corverde);
    margin-left: 30px; 
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}

#f42 {
    max-width: 650px;
    min-width: 600px;
 }

main.f4 {
    margin-left: 120px;
    margin-right: 100px;
    min-width: 450px;
    max-width: 1000px;
    min-height: 90px;
    max-height: 650px;
    
}

#serviços {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    min-width: 450px;
    max-width: 1600px;
    background-color: var(--corverde);
    min-height: 600px;
    
}

#ContabilidadeInteligente {
    font-size: 38px;
    text-align: left;
    color: var(--corbranco);
    padding: 5px 5px 5px 8px;
}

ul.destaques2 {
    margin-bottom: 39px;
    margin-top: 15px;
    font-family: var(--fontepadrao);
    font-size: 20px;
    text-align: justify;
    color: var(--corbranco);
    list-style-type: none;
    list-style-position: inside;
}

#prosperidade {
    border-radius: 5px;
    width: 250;
    height: 220;
    padding-top: 130px;
    padding-bottom: 130px;
    margin-left: -20px;
}


#NossosServiços {
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    background-color: var(--corbranco); 
    font: MontSerrat-Mediun; 
    color: var(--corazul); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: var(--corverde);
    border-radius: 5px;
    border: 0.1px solid var(--corbranco);
    
}

#NossosServiços:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
    
}

#empreendedores {
    width: 250;
    height: 220;
    padding-top: 130px;
    margin-left: 20px;

}

#falecomumcontador {
    border: 1px solid var(--corbranco);
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: var(--corbranco); 
    font: MontSerrat-Mediun; 
    color: var(--corverde); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

#falecomumcontador:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#abrirempresa {
    border: 1px solid var(--corbranco);
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    max-width: 210px; 
    height: 20px;
    background-color: var(--corbranco); 
    font: MontSerrat-Mediun; 
    color: var(--corverde); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;

}

#abrirempresa:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#sobrenós {
    min-height: 1180px;
    background-color: var(--corazul);
    color: var(--corbranco);
}

#divisoria {
    border-bottom: 2px solid var(--cormarron);
    margin: 0px 20px 0px 20px;
}

#sobrenostitulo {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--corverde);
    background-color: var(--corazul);
    font-family: var(--fontepadrao); color: var(--corbranco);
    text-align: right;
    padding: 5px 10px 5px 0px;
    width: 250px;
}

#sobrenosparagrafo {
    font-family: var(--fontepadrao); color: var(--corbranco);
    text-align: justify;
    text-indent: 0px;
    padding: 0px 150px 0px 150px;
    font-size: 18px;
}

#valores {
    list-style-type: decimal;
    margin-bottom:20px;
    margin-top: 15px;
    margin-left: 90px;
    font-family: var(--fontepadrao);
    font-size: 18px;
    text-align: left;
    color: var(--corbranco);
    list-style-position: inside;
}

#valores > li {
    margin: 0px 0px 0px 0px;
}

#logosobrenos {
    width: 92px;
    padding: 0px 0px 0px 0px;
    max-height: 120px;
    min-height: 120px;
    
}

#redessociais {
    margin-left: 65px;
    min-width: 450px;
    max-width: 450px;
    min-height: 130px;
    max-height: 130px;
    background-color: var(--corazul);
}

#redessociais2 {
    display: flex;
    list-style-type: none;
    
}

#redessociais3 {
    max-width: 40px;
    max-height: 40px;
   
}

li.redessociais {
    padding-top: 20px;
    padding-right: 20px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    list-style-position: none;
}

#redessociais4 {
    min-width: 92px;
    max-width: 92px;
    min-height: 120px;
    max-height: 120px;
    padding-right: 20px;
}

#logoredessociais {
    margin-top: 20px;
    padding: 0px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 50%;

}

#whats {
    display: flex;
    min-width: 640px;
    max-width: 640px;
    min-height: 40px;
    max-height: 40px;
}

#sobrenosparagrafowhats {
    padding: 0px;
    min-width: 200px;
    margin-left: 104px;
}

#whats2 {
    list-style-type: none;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

#whats3 {
    margin-top: 25px;
    min-width: 50px;
    max-height: 40px;
}

#whats4 {
    min-width: 40px;
    min-height: 40px;
}

#logoredessociaiswhats {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}

#redessociais5 {
    min-width: 92px;
    max-width: 92px;
    min-height: 120px;
    max-height: 120px;
    padding-right: 20px;
}

footer.f4 {
    padding: 5px;
    background-color: #003c5e;
    font-family: var(--fontepadrao); color: var(--corbranco);
    box-shadow: 0px 0px 5px #201815;
    font-size: 15px;
    text-align: center;
    
}

/*ESTILO SERVIÇOS */
#corposerviços {
    min-height: 100vh;

}

#estiloserviços {
   align-items: top;
   margin: auto;
   max-width: 1000px;
   max-height: 500px;
    
}

#estiloserviço1 {
    background-color:var(--corazul);
    display: flex; align-items: top; justify-content: center; 
    min-height: 680px;
}

#estiloserviço2 {
    font-style: var(--fontepadrao);
    color: var(--corbranco);
    font-size: 38px;
    text-align: center;
    padding: 25px 5px 10px 8px;
    border-bottom: 2px solid var(--corverde);
    max-width: 45vw;
    margin: auto;
}

#estiloserviço3 {
    margin-top: 0px;
    min-height: 50px;
    font-size: 15px;
    text-align: center;
}

#estiloserviço4 {
    max-width: 85vw;
    background-color:var(--corazul);
    max-height: 600px;
}

#estiloserviço5 {
    min-height: 42px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
#passos {
    max-height: 450px;
    min-height: 450px;
    margin-top: 20px;
    font-style: var(--fontepadrao);
    display: flex; 
    color: var(--corbranco);
    background-color: var(--corazul);
   

}
#passo {
    min-width: 270px;
    min-height: 450px;
    max-height: 450px;
    margin-right: 5px;
    border: 2px solid var(--corverde);
    border-radius: 5px;
}

#passo2 {
    font-style: var(--fontepadrao);
    text-decoration: underline;
    text-align: center;
    padding: 30px 0px 5px 0px;
    color: var(--corbranco);
}

h2.passo3 {
    font-style: var(--fontepadrao);
}

p.passo4 {
    font-style: var(--fontepadrao);
    padding: 0px 15px 0px 15px;
    text-align: justify;
    text-indent: 0px;
}

#passo5 {
    margin-top: 23px;
}

#passo6 {
    padding: 40px 5px 30px 5px;
}

#serviçocontabil {
    display: flex; align-items: top; justify-content: center;
    min-height: 900px; 
    
}

#serviçocontabil2 {
    align-items: center; 
    color: var(--corazul);
    font: var(--fontedestaque);
    max-height: 800px;
    
}

h1.serviçocontabil3 {
    font-size: 38px;
    padding-top: 25px;
    margin-left: 50px;
    color: var(--corazul);
    border-bottom: 3px solid var(--corverde);
    max-width: 870px;
}

#serviçocontabil3 {
    max-width: 650px;
    margin-left: 150px;
}

div.serviçocontabil4 {
    padding-left: 50px;
    display: flex; 
    min-height: 300px; 
}

div.serviçocontabil5 {
    font: var(--fontepadrao);
    border-radius: 20px;
    border: 2px solid var(--corverde);
    max-width: 400px;
    min-height: 240px;
    max-height: 300px;
    margin: 40px 20px 0px 20px;
}

div.serviçocontabil5 > p {
    border-radius: 20px;
    text-indent: 0px;
    padding: 0px 30px 0px 30px;

}

div.serviçocontabil5 > h2 {
    border-radius: 50px;
    min-width: 400px;
    max-width: 400px;
    font-size: 25px;
    text-align: center;

}
#serviçocontabil6 {
    margin-top: 50px;
    padding-left: 50px;
}

#falecomumcontador2 {
    border: 1px solid var(--corbranco);
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: var(--cormarron); 
    font: MontSerrat-Mediun; 
    color: var(--corbranco); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

#falecomumcontador2:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#façaumorçamento {
    border: 1px solid var(--corbranco);
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    max-width: 210px; 
    height: 20px;
    background-color: var(--cormarron); 
    font: MontSerrat-Mediun; 
    color: var(--corbranco); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;

}

#façaumorçamento:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#consultoria {
    font: var(--fontepadrao);
    color: var(--corbranco);
    background-image: url(../6898.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
    

}

#consultoria1 {
    border-radius: 10px;
    max-width: 60vw;
    min-height: 100px;
    font-size: 70px;
    text-shadow: white 1px 1px 1.5px;
    color: white;
    
    
}

#consultoria2 {
    display: flex;
    align-items: center;
}

#consultoria3 {
    margin: auto;
    display: flex;
    align-items: top; justify-content: center;
}

#consultoria4 {
    font-size: 48px;
    text-align: left;
    color: var(--corazul);
    padding: 5px 5px 5px 8px;
 }

 #consultoria5 {
    margin-bottom: 39px;
    margin-top: 35px;
    font-family: var(--fontepadrao);
    font-size: 20px;
    text-align: justify;
    color: var(--corazul);
    list-style-type: '\2714\000A0\000A0\000A0\000A0';
    list-style-position: inside;
}


#meta {
    margin-bottom: 90px;
    border: 0.5px solid  #003c5e1e;
    box-shadow: 0.5px 0.5px 0.5px var(--corazul);
    min-width: 420px;
    max-width: 420px;
    max-height: 280px;
    min-height: 280px;
    margin-top: 150px;
    margin-left: 20px;
    padding-bottom: 0px;
}

#custo2 {
    border: 0.5px solid #003c5e1e;
    box-shadow: 0.5px 0.5px 0.5px var(--corazul);
    min-width: 420px;
    max-width: 420px;
    max-height: 280px;
    min-height: 280px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 70px;
    padding-bottom: 0px;

}

#consultoria6 {
    margin-top: 30px;
    max-width: 650px;
    min-width: 600px;
 }

 #orçamento {
    border: 1px solid var(--corbranco);
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    max-height: 20px;
    background-color: var(--corverde); 
    font: MontSerrat-Mediun; 
    color: var(--corbranco); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;

}

#orçamento:hover {
    background-color: var(--corazul);
    color: var(--corbranco);
    border: 0.1px solid var(--corazul);
}

#orçamento2 {
    margin-left: 130px;
    padding: 10px 10px 10px 10px;
    background-color: var(--corverde); 
    font: MontSerrat-Mediun; 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: var(--corbranco);
    border-radius: 5px;
    border: 0.1px solid var(--corbranco); 
}

#orçamento2:hover {
    background-color: var(--corazul);
    color: var(--corbranco);
    border: 0.1px solid var(--corazul);
    
}

#orçamento3 {
    margin-top: 100px;
    margin-left: 130px;
    padding: 10px 10px 10px 10px;
    background-color: var(--corverde); 
    font: MontSerrat-Mediun; 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: var(--corbranco);
    border-radius: 5px;
    border: 0.1px solid var(--corbranco); 
}

#orçamento3:hover {
    background-color: var(--corazul);
    color: var(--corbranco);
    border: 0.1px solid var(--corazul);
    
}

#falecomumcontador3 {
    border: 1px solid var(--corbranco);
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color:var(--corverde); 
    font: MontSerrat-Mediun; 
    color: var(--corbranco); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

#falecomumcontador3:hover {
    background-color: var(--corazul);
    color: var(--corbranco);
    border: 0.1px solid var(--corazul);
}

/*ESTILO IMPOSTO DE RENDA*/

#renda {
    font: var(--fontepadrao);
    color: var(--corbranco);
    background-image: url(../4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
    box-shadow: 0px -2px 2px var(--cormarron);
    box-shadow: 2px 2px 2px var(--cormarron);
   
    
}

#renda1 {
    background-color: #83a73510;
    border-radius: 10px;
    max-width: 60vw;
    min-height: 100px;
    font-size: 70px;
    text-shadow: white 1px 1px 1.5px;
    color: var(--corbranco);
    
    
}

#renda2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#renda3 {
    display: flex; align-items: top; justify-content: center; 
    min-height: 680px;
}

#renda5 {
    font-style: var(--fontepadrao);
    color: var(--corazul);
    font-size: 38px;
    text-align: center;
    padding: 25px 5px 10px 8px;
    text-shadow: 1px 1px 1px #20181585;
    max-width: 45vw;
    margin: auto;
}

#estiloserviço3 {
    margin-top: 0px;
    min-height: 50px;
    font-size: 15px;
    text-align: center;
}

#renda4 {
    max-width: 85vw;
    max-height: 600px;
}

#renda6 {
    max-height: 450px;
    min-height: 450px;
    margin-top: 20px;
    font-style: var(--fontepadrao);
    display: flex; 
    color: var(--corazul);

}

#renda7 {
    min-width: 270px;
    min-height: 450px;
    max-height: 450px;
    margin-right: 5px;
    border: 2px solid var(--corverde);
    border-radius: 5px;
}

#renda8 {
    font-style: var(--fontepadrao);
    text-decoration: underline;
    text-align: center;
    padding: 30px 0px 5px 0px;
    color:var(--corazul);
}

h2.passo3 {
    font-style: var(--fontepadrao);
}

p.passo4 {
    font-style: var(--fontepadrao);
    padding: 0px 15px 0px 15px;
    text-align: justify;
    text-indent: 0px;
}

#renda9 {
    padding: 40px 5px 30px 5px;
}

#renda10 {
    margin-top: 23px;
}

#renda11 {
    border: 1px solid var(--corbranco);
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    max-width: 210px; 
    height: 20px;
    background-color: var(--corazul); 
    font: MontSerrat-Mediun; 
    color: var(--corbranco); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;

}

#renda11:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#renda12 {
    border: 1px solid var(--corbranco);
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: var(--corazul); 
    font: MontSerrat-Mediun; 
    color: var(--corbranco); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

#renda12:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#renda13 {
    background-color: var(--corverde);
    color: var(--corbranco);
    
    
}

#renda14 {
    margin: auto;
    align-items: top; justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
    width: 75vw;
    display: flex;
 }

#renda15 {
    font-size: 48px;
    text-align: center;
    padding: 5px 5px 5px 8px;
 }

#renda16 {
    display: inline;
    

}

 #consultoria5 {
    margin-bottom: 39px;
    margin-top: 35px;
    font-family: var(--fontepadrao);
    font-size: 20px;
    text-align: justify;
    color: var(--corazul);
    list-style-type: '\2714\000A0\000A0\000A0\000A0';
    list-style-position: inside;
}


#meta {
    margin-bottom: 90px;
    border: 0.5px solid  #003c5e1e;
    box-shadow: 0.5px 0.5px 0.5px var(--corazul);
    min-width: 420px;
    max-width: 420px;
    max-height: 280px;
    min-height: 280px;
    margin-top: 150px;
    margin-left: 20px;
    padding-bottom: 0px;
}

#custo2 {
    border: 0.5px solid #003c5e1e;
    box-shadow: 0.5px 0.5px 0.5px var(--corazul);
    min-width: 420px;
    max-width: 420px;
    max-height: 280px;
    min-height: 280px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 70px;
    padding-bottom: 0px;

}



