@charset "UTF-8";

/*
#003c5e - Azul
#201815 - Marron
#83a735 - verde
#ffffff - Branco
*/

:root {
    --corazul: #003c5e;
    --cormarron: #201815;
    --corverde: #83a735;
    --corbranco: #ffffff;
    --fontepadrao: MontSerrat-Regular;
    --fontedestaque: MontSerrat-Mediun;
}

* {
    margin: 0px;
    padding: 0px;
}

nav img {
    width: 75%;
    height: 90px;
}

header {
    min-width: 600px;
    max-width: 1200px;
    min-height: 90px;
    margin: auto;
}

nav {
    font-size: 18px;
    display: flex;
    text-align: center;
    background-color: var(--corbranco);
    font-family: var(--fontepadrao); color: var(--corbranco);
    border-radius: 5px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;    
}


#artigos {
    width: 80px;
    padding-right: 150px
}


#areadocliente {
    padding-right: 10px;
}


nav > a {
    height:25px;
    color: var(--corazul);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    
}


main {
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main img {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    }

body {
    margin: auto;
    font-family: var(--fontedestaque); color: var(--corazul);
    font-size: 20px;
    text-align: justify;
}

div {
    min-height: 550px;
    font-size: 15px;
    text-align: center;
}

div img {
    width: 100%;
    padding-bottom: 40px;
}

div h2 {
    padding-top: 40px;
}

div.video {  
    margin: 0px -20px 10px -20px;
    padding: 10px;
    position: relative;
    padding-bottom: 10%;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 85%;
    height: 80%;
}

p {
    font-size: 20px;
    text-align: justify;
    text-indent: 45px;
    padding-bottom: 15px;
    line-height: 2em;
}

strong {
    color: var(--corazul);
    font-weight: bold;
}

aside {
    background-color: var(--corverde);
    padding: 10px;
    border-radius: 5px;
    
}

aside ul {
    list-style-position: inside;
    list-style:var(--corazul);
    box-shadow: 2px 2px 4px var(--corverde);
    color: var(--corbranco)
    
}

aside h2{
    padding: 10px;
    color: var(--corbranco);
    background-color: var(--corazul);
    border-radius: 10px 10px 0px 0px;
    text-align: justify;
    margin: -10px -10px 0px -10px;    
}

aside p {
    background-color: var(--corverde);
    border-radius: 10px;
    box-shadow: 2px 2px 4px var(--corverde);
    color: var(--corbranco)
    
    
}

aside strong {
    color: var(--corazul);
    padding: 10px;
}

li {
    text-indent: 60px;
    line-height: 2em;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom:30px;
}

iframe {
    padding-bottom: 30px;
}

footer {
    padding: 5px;
    background-color: #003c5e;
    font-family: var(--fontepadrao); color: var(--corbranco);
    box-shadow: 0px 0px 5px #201815;
    font-size: 15px;
    text-align: center;
            
        }

div.homeinicial{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}



h1.competencia{
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
    
}

ul.destaques {
    list-style-type: '\2714\000A0\000A0\000A0\000A0';
    margin-bottom: 39px;
    margin-top: 15px;
    margin-left: -30px;
    font-family: var(--fontepadrao);
    font-size: 20px;
    text-align: left;
    color: var(--corazul);
    list-style-position: inside;
}

ul > li {
    margin: 10px 0px 10px 0px;
}

div.f4contabilidade {
    margin-top: -20px;
    min-height: 400px;
    max-height: 480px;
    min-width: 200px;
    max-width: 400px;
    
}


#f4 {
   max-width: 800px;
   min-width: 650px;
   
}

#imagemprotocolo {
    min-height: 400px;
    max-height: 480px;
    min-width: 400px;
    max-width: 400px;
    
}


a.abrirempresa {
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: #83a735; 
    font: MontSerrat-Mediun; 
    color: white; 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

a.contador {
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: var(--corbranco); 
    font: MontSerrat-Mediun; 
    color: var(--corazul); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border: 0.1px solid var(--corazul);
    border-radius: 5px;
    
    
}

a.contador:hover {
    background-color: var(--corverde);
    font-size: var(--corbranco);
    border: 0.1px solid var(--corbranco);
}



#f4segunda {
    background-size: var(--corverde);
    margin-left: 120px;
    margin-right: 100px;
    width: auto;
    min-height: 900px;
    max-height: 950px;

}

#destaque3 {
    margin: auto;
    background-color: var(--corverde);
}

div.homesegunda {
    background-color: var(--corverde);
    margin-left: 30px; 
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}

#f42 {
    max-width: 650px;
    min-width: 600px;
 }

main.f4 {
    margin-left: 120px;
    margin-right: 100px;
    min-width: 450px;
    max-width: 1000px;
    min-height: 90px;
    max-height: 650px;
    
}

#serviços {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    min-width: 450px;
    max-width: 1600px;
    background-color: var(--corverde);
    min-height: 600px;
    
}

#ContabilidadeInteligente {
    font-size: 38px;
    text-align: left;
    color: var(--corbranco);
    padding: 5px 5px 5px 8px;
}

ul.destaques2 {
    margin-bottom: 39px;
    margin-top: 15px;
    font-family: var(--fontepadrao);
    font-size: 20px;
    text-align: justify;
    color: var(--corbranco);
    list-style-type: none;
    list-style-position: inside;
}

#prosperidade {
    border-radius: 5px;
    width: 250;
    height: 220;
    padding-top: 130px;
    padding-bottom: 130px;
    margin-left: -20px;
}


#NossosServiços {
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    background-color: var(--corbranco); 
    font: MontSerrat-Mediun; 
    color: var(--corazul); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: var(--corverde);
    border-radius: 5px;
    border: 0.1px solid var(--corbranco);
    
}

#NossosServiços:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
    
}

#empreendedores {
    width: 250;
    height: 220;
    padding-top: 130px;
    margin-left: 20px;

}

#falecomumcontador {
    border: 1px solid var(--corbranco);
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    max-width: 230px; 
    height: 20px;
    background-color: var(--corbranco); 
    font: MontSerrat-Mediun; 
    color: var(--corverde); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

#falecomumcontador:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#abrirempresa {
    border: 1px solid var(--corbranco);
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    max-width: 210px; 
    height: 20px;
    background-color: var(--corbranco); 
    font: MontSerrat-Mediun; 
    color: var(--corverde); 
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 5px;

}

#abrirempresa:hover {
    background-color: var(--corverde);
    color: var(--corazul);
    border: 0.1px solid var(--corazul);
}

#sobrenós {
    background-color: var(--corazul);
    color: var(--corbranco);
}

#divisoria {
    border-bottom: 2px solid var(--cormarron);
    margin: 0px 20px 0px 20px;
}

#sobrenostitulo {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--corverde);
    background-color: var(--corazul);
    font-family: var(--fontepadrao); color: var(--corbranco);
    text-align: right;
    padding: 5px 10px 5px 0px;
    width: 250px;
}

#sobrenosparagrafo {
    font-family: var(--fontepadrao); color: var(--corbranco);
    text-align: justify;
    text-indent: 0px;
    padding: 0px 150px 0px 150px;
    font-size: 18px;
}

#valores {
    list-style-type: decimal;
    margin-bottom:20px;
    margin-top: 15px;
    margin-left: 90px;
    font-family: var(--fontepadrao);
    font-size: 18px;
    text-align: left;
    color: var(--corbranco);
    list-style-position: inside;
}

#valores > li {
    margin: 0px 0px 0px 0px;
}

#logosobrenos {
    width: 102px;
    padding: 0px 0px 0px 0px;
    max-height: 130px;
    min-height: 130px;
}

#redessociais {
    display: flex;
    margin-left: 65px;
    min-width: 500px;
    max-width: 500px;
    min-height: 200px;
    max-height: 200px;
    background-color: var(--corazul);
}

#redessociais2 {
    display: flex;
    list-style-type: none;
    
}



li.redessociais {
    padding-right: 20px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    list-style-position: none;
}

#logoredessociais {
    margin-top: 20px;
    padding: 0px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;

}

footer.f4 {
    padding: 5px;
    background-color: #003c5e;
    font-family: var(--fontepadrao); color: var(--corbranco);
    box-shadow: 0px 0px 5px #201815;
    font-size: 15px;
    text-align: center;
    
}

