{% extends "usuarios/modelo.html" %}


{% block configuracao_cabecalho %}
<title>F4 CONTABILIDADE LTDA</title>
{% endblock %}


{% block conteudo %}
{% load static %}
<section>
    <div class="container">
        <div class="homeinicial" >
            <div id="f4">
                <h1 class="competencia">
                    Competência e tranquilidade
                </h1>
                <h1 class="competencia">
                    para você e sua 
                </h1>
                <h1 class="competencia">
                    família!
                </h1>
                <ul class="destaques">
                    <li>Especialistas na área tributária e de custos</li>
                    <li>Atendimento rápido de forma on-line ou presencial</li>
                    <li>Consultoria financeira, tributária e de custos</li>
                    <li>Apoio ao empreendedorismo</li>
                    <li><strong>Abertura de empresa de forma gratuita</strong></li>
                </ul>
                <div id="abrir_empresa">
                    <a href="#" class="abrirempresa">ABRIR MINHA EMPRESA</a>
                    <a href="falecomcontador.html" class="contador" target="_blank">FALE COM UM CONTADOR</a>
                </div>
            </div>
                <div class="f4contabilidade"><p><a href="f4.html"><img id="imagemprotocolo" src="/static/imagens/Imagem_Protocolo.png" alt="Imagemprotocolo"></p></a>
                </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div id="destaque3" style="height: 1100px;">
            <div id="f4segunda">
                <div class="homesegunda" style="width: 1130px; height: 1100px;">
                    <div id="f42">
                        <h1 id="ContabilidadeInteligente">Contabilidade inteligente para um futuro financeiro promissor</h1>
                        <ul class="destaques2">
                            <li>Nós da F4 Contabilidade buscamos transformar números em estratégias bem-sucedidas para o seu negócio. Por exemplo, indicamos sempre a melhor forma de tributação para o nosso cliente, aquela na qual pague a menor carga tributária possível seguindo a legislação.</li>
                            <li>Constantemente avaliamos as necessidades dos nossos clientes procurando fornecer soluções contábeis sob medida. Nossos honorários são calculados respeitando as características de cada cliente, como por exemplo: porte, número de empregados, sócios, faturamento e regime tributário.</li>
                            <li>Transparência, integridade e inovação: os pilares do nosso serviço contábil. Nosso escritório procura reduzir custos operacionais aliando recursos da Teconologia da Informação como Inteligência Artificial, Machine Learning (aprendizado de máquina) entre outros, tudo isso para oferecer o maior custo beneficío aos nossos clientes.</li>
                            <li>Nosso escritório de contabilidade é profundamente comprometido com o desenvolvimento e sucesso dos empreendedores. Reconhecemos a importância vital do empreendedorismo para a economia e para a criação de oportunidades. Por isso, estamos empenhados em apoiar e incentivar os visionários e líderes de negócios de amanhã. Acreditamos tanto neste propósito que, como demonstração de nosso comprometimento, oferecemos a abertura de empresas de forma gratuita. Esta é nossa forma de investir no potencial de cada empreendedor e garantir que eles tenham o suporte necessário desde o primeiro passo.</li>
                        </ul>
                        <div id="abrir_empresa">
                            <a href="#" id="abrirempresa">ABRIR MINHA EMPRESA</a>
                            <a href="falecomcontador.html" id="falecomumcontador" target="_blank">FALE COM UM CONTADOR</a>
                        </div>
                    </div>
                    <div class="f4contabilidade">
                        <p>
                            <img id="prosperidade" src="/static/imagens/prosperidadefinanceira.jpg" alt="Prosperidade">
                            <a href="#" id="NossosServiços">CONHEÇA OS NOSSOS SERVIÇOS</a>
                            <img id="empreendedores" src="/static/imagens/empreendedores.png" alt="empreendedores">
                        </p></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

