{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Simulação 2</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/falecomcontadorestilo.css' %}">
</head>
<body>
    <main>
        <div style="margin-top: 15px;">
            <h1>Serviços de qualidade, honorário justo!</h1>
            <p id="orientação" style="margin-right: 40px;">Preencha os dados e faça uma simulação de quanto você pagaria de honorários para ter sua declaração feita por nós!</p>
            <img src="/static/imagens/contador.png" alt="Contador">        
        </div>
        <form style="margin-top: 15px;" action="{% url 'fazersimulacao' %}" method="POST" autocomplete="on">
            {% csrf_token %}
            <h1>Responda as perguntas abaixo, ao final o sistema calculará sua simulação.</h1>
            <table>
                {%for item in form%}
                
                    
                    {%if item.label == 'Empregado de empresa pública ou privada' %}
                        
                        <h1><strong>Selecione as suas fontes de renda em 2023:</strong></h1>
                        <div class="fieldWrapper">
                            {{item.label}} {{item}}
                        </div>
                        <br>
                    {%elif item.label == 'Despesas médicas'%}
                        <h1><strong>Selecione as despesas referente ao ano 2023:</strong></h1>
                        <div class="fieldWrapper">
                            {{item.label}} {{item}}
                        </div>
                        <br>
                    {%elif item.label == 'Imóvel'%}
                        <h1><strong>Selecione seus bens e direitos:</strong></h1>
                        <div class="fieldWrapper">
                            {{item.label}} {{item}}
                        </div>
                        <br>
                    {%elif item.label == 'Dívidas acima de R$ 5.000,00'%}
                        <h1><strong>Possui dívidas acima de R$ 5.000,00?*</strong></h1>
                        <div class="fieldWrapper">
                            {{item.label}} {{item}}
                        </div>
                        <br>
                    {% else %}
                        <div class="fieldWrapper">
                            {{item.label}} {{item}}
                            {% if item.help_text %}
                                {{item.help_text|safe}}
                            {% endif %}
                        </div>
                        <br>
                    {% endif %}

                {%endfor%}
                
            </table>
            <button class="form-control-sm" data-button >Calcular Simulação.</button>

        </form>
    </main>

</body>
</html>