{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Simulação 2</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/falecomcontadorestilo.css' %}">
</head>
<body>
    <main>
        <div>
            <h1>Serviços de qualidade, honorário justo!</h1>
            <p id="orientação">Preencha os dados e faça uma simulação de quanto você pagaria de honorários para ter sua declaração feita por nós!</p>
            <img src="{% static 'imagens/contador.png' %}" alt="Contador">
        
        </div>
        <form action="{% url 'processa_formulario' %}" method="POST" autocomplete="on">
            {% csrf_token %}

            <table>
                {% for item in form %}
                    <div class="fieldWrapper">
                        {{item.label}} {{item}}
                        {% if item.help_text %}
                            {{item.help_text|safe}}
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
                
            </table>
            <input type='submit'> Calcular Simulação</input>

        </form>
    </main>


    
</body>
</html>