@charset "UTF-8";


/*
#003c5e - Azul
#201815 - Marron
#83a735 - verde
#ffffff - Branco
*/

:root {
    --corazul: #003c5e;
    --cormarron: #201815;
    --corverde: #83a735;
    --corbranco: #ffffff;
    --fontepadrao: MontSerrat-Regular;
    --fontedestaque: MontSerrat-Mediun;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    margin: auto;
    min-width: 450px;
    max-width: 1000px;
    min-height: 90px;
    max-height: 650px;
}



main {
    width: 100%;
    display: inline-flex;

}
div {
    max-width: 380px;
    margin-right: 40px;
   
}

h1 {
    margin: 20px 40px 20px 0px;
    padding-bottom: 10px;
    text-align: left;
    color: var(--corazul);
    border-bottom: 1px solid var(--corverde);
}
#orientação {
    font-size: var(--fontedestaque);
    color: var(--corazul);
}

img {
    margin-left: 30px;
    margin-top: 30px;
    align-items: center;
    max-width: 300px;
    box-shadow: 3px 3px 3px var(--cormarron);
}

form {
    min-width: 510px;
    margin-top: 35px;
    text-align: left;
    font-size: large(--fontedestaque);
    color: var(--corazul);

}

#formulario {
    min-width: 510px;
    margin: 15px 0px 30px 0px;
}

#enviar {
    min-width: 300px;
    max-width: 300px;
    display:flex;
    

}

#botao {
    background-color: var(--corverde);
    color: var(--corbranco);
    font-size: 22px;
    font-size: larger;
    border: var(--corverde);
    min-width: 140px;
    min-height: 40px;
    max-width: 150px;
    margin-left: 60px;
    border-radius: 5px;
}

#botao:hover {
    background-color: var(--corazul);
    
}

#checkbox {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

#checkbox2 {
    display: flex;
}

#imensagem {
    margin-left: 20px;
}

#ichamada {
    margin-left: 42px;
}

#ivideo {
    margin-left: 20px;
}
#imeet {
    margin-left: 48px;
}

#label {
    padding-left: 15px;
}



/*SIMULAÇÃO*/

input.simulacao1 {
    margin-left: 20px;
}


input.simulacao2 {
    margin-left: 42px;
}

div.simulacao2 {
    min-width: 510px;
    margin: 15px 0px 30px 0px;
}

#info38 {
    background-color: var(--corverde);
    color: var(--corbranco);
    font-size: 22px;
    font-size: larger;
    border: var(--corverde);
    min-width: 140px;
    min-height: 40px;
    max-width: 150px;
    margin-left: 60px;
    border-radius: 5px;
}

#info38:hover {
    background-color: var(--corazul);
}

button:disabled {
    cursor: not-allowed;
    background: #7e898f;
}