@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left,#0367A6, #4EA4D9, #77B3D9);
}

main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(3, 104, 166, 0.61);
    width: 600px;
    padding: 10px;
    margin:auto;
}

h1 {
    color: #0477BF;
    text-align: center;
    text-shadow: 1px 1px 2px #307aa8;
}

h2 {
    color: #035AA6;
}

p {
    text-align: justify;
}